{% extends "index.twig" %} {% block title %} Admin Berechtigungen {% endblock %} {% block content %} {% include "extensions/AdminNav.twig" %}
<div class="row mb-4">
    <div class="col">

    </div>
</div>
<div class="row mb-4">


</div>
{% endblock %} {% block fScripts %} {% endblock %}