<section class="section">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/rechnungen">In Bearbeitung</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rechnungen/unbezahlt">Abgeschlossen / Unbezahlt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rechnungen/bezahlt">Bezahlt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rechnungen/teilbezahlt">Teilbezahlt</a>
        </li>
    </ul>
</section>
<hr>