<ul class="menu">
    <li class="sidebar-item">
        <a href="/" class="sidebar-link">
            <i class="fas fa-home"></i>
            <span>Startseite</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a href="/chat" class="sidebar-link">
            <i class="fas fa-comments"></i>
            <span>Chatsystem</span><span class="badge bg-danger ml-4">0</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a href="/anrufe/offen" class="sidebar-link">
            <i class="fas fa-phone"></i>
            <span>Offene Anrufe</span><span class="badge bg-danger float-right">0</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a href="/converter" class="sidebar-link">
            <i class="fas fa-file-invoice"></i>
            <span>Rechnungsconverter</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a href="/antraege/offen" class="sidebar-link">
            <i class="fas fa-file-invoice"></i>
            <span>Finanzierungsanträge</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a href="/garanite/overview" class="sidebar-link">
            <i class="fas fa-file-invoice"></i>
            <span>Garantie Übersicht</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a href="/aktennotizen" class="sidebar-link">
            <i class="fas fa-file-invoice"></i>
            <span>Aktennotizen</span>
        </a>
    </li>
    <li class="sidebar-item has-sub">
        <a href="#" class="sidebar-link">
            <i class="fas fa-file-invoice"></i>
            <span>Shops</span>
        </a>
        <ul class="submenu">
            <li>
                <a href="https://motorfunsports.de" target="_blank">MotorFunSports</a>
            </li>
            <li>
                <a href="https://e-scooter-team.de" target="_blank">E-Scooter-Team</a>
            </li>
        </ul>
    </li>


    <!--<li class="sidebar-item has-sub">
        <a href="#" class="sidebar-link">
            <i data-feather="triangle" width="20"></i>
            <span>Components</span>
        </a>

        <ul class="submenu">
            <li>
                <a href="component-alert.html">Alert</a>
            </li>

            <li>
                <a href="component-badge.html">Badge</a>
            </li>

            <li>
                <a href="component-breadcrumb.html">Breadcrumb</a>
            </li>

            <li>
                <a href="component-buttons.html">Buttons</a>
            </li>

            <li>
                <a href="component-card.html">Card</a>
            </li>

            <li>
                <a href="component-carousel.html">Carousel</a>
            </li>

            <li>
                <a href="component-dropdowns.html">Dropdowns</a>
            </li>

            <li>
                <a href="component-list-group.html">List Group</a>
            </li>

            <li>
                <a href="component-modal.html">Modal</a>
            </li>

            <li>
                <a href="component-navs.html">Navs</a>
            </li>

            <li>
                <a href="component-pagination.html">Pagination</a>
            </li>

            <li>
                <a href="component-progress.html">Progress</a>
            </li>

            <li>
                <a href="component-spinners.html">Spinners</a>
            </li>

            <li>
                <a href="component-tooltips.html">Tooltips</a>
            </li>
        </ul>
    </li>-->

    <li class="sidebar-title">Link System</li>

    {% for nav in dNav %}
    <li class="sidebar-item has-sub">
        <a href="#" class="sidebar-link">
            <i class="fas fa-folder"></i>
            <span>{{ nav.name }}</span>
        </a>
        <ul class="submenu">
            {% for row in nav.uuid|SubMenu %}
            <li>
                <a href="/link/category/id">Alert</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>