{% extends "index.twig" %}

{% block title %}
404 - Page not found
{% endblock %}

{% block content %}
<div class="alert alert-danger">
    <h4 class="alert-heading">404 - Page not found</h4>
    <p>Diese Seite wurde nicht gefunden. </p>
</div>
{% endblock %}